* {
    margin: 0;
}

body{
    background-image: linear-gradient(to top, #a3bded 0%, #6991c7 100%);
/*
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
 background-blend-mode: multiply,multiply;
*/
    display: grid;
    grid-template-columns: 70% 25%;
}

header {
    background-color: black;


    background-image: linear-gradient(to top, #a3bded 0%, #6991c7 100%);

    display: grid;
    grid-template-areas: 
        "otro texto texto texto imagen"
        "otro navegacion navegacion navegacion imagen";
    font-size: 1.5rem;
    position: fixed;
    width: 100%;
    height:180px;
}

.header {
}

.texto{
    height: 120px;
    grid-area: texto;
}

.img {
    grid-area: imagen;
    padding-top: 0px;
}

.foto{
    border: 10px solid gray;
    box-shadow: 5px 5px 5px 5px;    
}

.navegacion{
    position:relative;
    grid-area: navegacion;
    text-align: end;
}

nav{
}

nav li{
    display: inline;
    margin: 0 20px 0 20px;
}

a{
    color: aliceblue;
    text-decoration: none
    
}

main{
    margin: 180px 30px 40px;
    margin-top: 190px;
    width: 100%;
    margin-left: 30px;
    display: grid;
    grid-row-gap: 20px
}

.contenido{
    background: #C9CCD3;
 background-image: linear-gradient(-180deg, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%);
 background-blend-mode: lighten;border-radius: 10px;
}

.objetivo{
    display: grid;
    grid-row-gap: 10px;
}

h2{
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 8px;
}

h3{
}

li{
    margin-top: 10px;
}

p{
    margin: 10px 0 0;
}

aside{
    background-image: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);
    margin-top: 190px;
    width: 100%;
    height: 70vh;
    margin-left: 60px;
    border-radius: 20px;
    display: grid;
    overflow: auto;
    position: sticky;
    top: 190px;
    
}

.imagenes{
    margin-left: 20px;
}

.imagen1{
}

aside img{
    border-radius: 20px;
}






footer{
    width: 100%;
    height: 30px;
    position:fixed;
    bottom: 0;
    text-align: center;
    background: black;
    color: whitesmoke;
}

.text-footer{
    padding-bottom: 5px;
}


